*{
    margin: 0;
    box-sizing: border-box;
}

.navegacion{
    
    list-style: none;
    width: 300px;
    background-color: #35302D;
    line-height: 20px;
}
.navegacion li{
    text-align: center;
    padding: 40px;
    font-size: 30px;
    color: white;
    font-family: 'Dosis', sans-serif;

}
.navegacion ul{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 1px solid rgba(247, 247, 247, 0.05);
}

.navegacion ul:hover{
    border-right: 5px solid #DF4500;
}
